
$awesome: #ff1053;
$space_grey: #494947;
$maya: #54defd;
$sandstorm: #e7e247;
$pearl: #e8eddf;

html {
  padding: 0;
  margin-right: 8px;
  margin-left: -5px;
  box-sizing: border-box;
  background-color: $pearl;;
}
.header {
  text-align: center;
  padding: 5vw;
  font-size: 5vw;
  color: $awesome;
}

.main {
  display: grid;
  grid-auto-columns:33%;
}
// MIDDLE SECTOR
.game_container {
  grid-row: 1;
  grid-column: 2;
  padding-top: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.game {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: grid;
  border: 3px solid $space_grey;
  text-align: center;
  .square {
    border: 3px solid $space_grey;
    transition: 1s;
    cursor: pointer;
    background-color: #e8eddf;
  }
}
// FIRST SECTOR
.options {
  grid-row: 1;
  grid-column: 1;
  background-color: $pearl;
  border: 7px solid $space_grey;
  border-radius: 20%;
  padding: 0;
  width:90%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  height: auto;
  .options_menu {
    width: 50%;
    background-color: $awesome;
    color: $pearl;
    font-size: 1.5rem;
    font-weight: 1000;
    padding-top: 2rem;
    padding-bottom: 2rem;
    float: left;
    text-align: center;
    cursor: pointer;
    transition: 0.9s;
    position: relative;
  }
  .options_menu:hover {
    background-color: $pearl !important;
    color: $awesome !important;
  }

}
.divP {
  height: 20%;
  padding: 1rem;
  color: $space_grey;
  font-weight: bold;
  text-align: left;
}
#info {
  height: 100%;
}


#settings {
  height: 100%;
  // position: relative;
  .suboption {
    width: 33.3%;
    // background-color: $awesome;
    color: $space_grey;
    font-size: 1.5rem;
    font-weight: 1000;
    padding-top: 2rem;
    padding-bottom: 2rem;
    float: left;
    text-align: center;
    cursor: pointer;
    transition: 0.9s;
    position: relative;
  }
  .suboption_main {
    cursor: default;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: $awesome;
    color: $pearl;
  }
  .option {
    height: 20%;
  }
  .submit_settings{
    height: 20%;
    text-align: center;
    // width: 100%;
    border-radius: 20%;
    padding: 1rem;
    background-color: $awesome;
    color: $pearl;
    font-size: 1.5rem;
    font-weight: 1000;
    cursor: pointer;
    transition: 1s;
  }
  .submit_settings:hover {
    background-color: $pearl !important;
    color: $awesome !important;
  }
}
// THIRD SECTOR
.draw {
  grid-row: 1;
  grid-column: 3;
  text-align: center;
}
#draw_player {
  border: 3px solid $space_grey;
  border-radius: 20%;
  height: 60px;
  width: 50%;
  background-color: $awesome;
  text-align: center;
  transition: 0.5s;
  margin-left: auto;
  margin-right: auto;
}
#game_state {
  display: none;
}
#again {
  display: none;
}


@media only screen and (max-width: 767px) {
  .main{
    grid-auto-columns: 100%;
    grid-row-gap: 3rem;
  }
  .header{
    font-size: 12vw;

  }
  .options {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
  }
  .game_container {
    grid-column: 1;
    grid-row: 2;
  }
  .draw {
    grid-column: 1;
    grid-row: 3;
  }
}
  @media only screen and (max-width: 1204px) and (min-width: 768px) {
    .main{
      grid-auto-columns: 50%;
      grid-row-gap: 3rem;
    }
    .header{
      font-size: 10vw;
    }
    .options {
      grid-column: 1;
      grid-row: 1;
    }
    .game_container {
      grid-column: 2;
      grid-row: 1;
    }
    .draw {
      grid-column: 1/ span 2;
      grid-row: 2;
      text-align: center;
    }
}