html {
  padding: 0;
  margin-right: 8px;
  margin-left: -5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #e8eddf;
}

.header {
  text-align: center;
  padding: 5vw;
  font-size: 5vw;
  color: #ff1053;
}

.main {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 33%;
}

.game_container {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
  padding-top: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.game {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  border: 3px solid #494947;
  text-align: center;
}

.game .square {
  border: 3px solid #494947;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
  background-color: #e8eddf;
}

.options {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  background-color: #e8eddf;
  border: 7px solid #494947;
  border-radius: 20%;
  padding: 0;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  height: auto;
}

.options .options_menu {
  width: 50%;
  background-color: #ff1053;
  color: #e8eddf;
  font-size: 1.5rem;
  font-weight: 1000;
  padding-top: 2rem;
  padding-bottom: 2rem;
  float: left;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  position: relative;
}

.options .options_menu:hover {
  background-color: #e8eddf !important;
  color: #ff1053 !important;
}

.divP {
  height: 20%;
  padding: 1rem;
  color: #494947;
  font-weight: bold;
  text-align: left;
}

#info {
  height: 100%;
}

#settings {
  height: 100%;
}

#settings .suboption {
  width: 33.3%;
  color: #494947;
  font-size: 1.5rem;
  font-weight: 1000;
  padding-top: 2rem;
  padding-bottom: 2rem;
  float: left;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  position: relative;
}

#settings .suboption_main {
  cursor: default;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #ff1053;
  color: #e8eddf;
}

#settings .option {
  height: 20%;
}

#settings .submit_settings {
  height: 20%;
  text-align: center;
  border-radius: 20%;
  padding: 1rem;
  background-color: #ff1053;
  color: #e8eddf;
  font-size: 1.5rem;
  font-weight: 1000;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

#settings .submit_settings:hover {
  background-color: #e8eddf !important;
  color: #ff1053 !important;
}

.draw {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 3;
  grid-column: 3;
  text-align: center;
}

#draw_player {
  border: 3px solid #494947;
  border-radius: 20%;
  height: 60px;
  width: 50%;
  background-color: #ff1053;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-left: auto;
  margin-right: auto;
}

#game_state {
  display: none;
}

#again {
  display: none;
}

@media only screen and (max-width: 767px) {
  .main {
    grid-auto-columns: 100%;
    grid-row-gap: 3rem;
  }
  .header {
    font-size: 12vw;
  }
  .options {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    width: 100%;
  }
  .game_container {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .draw {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
  }
}

@media only screen and (max-width: 1204px) and (min-width: 768px) {
  .main {
    grid-auto-columns: 50%;
    grid-row-gap: 3rem;
  }
  .header {
    font-size: 10vw;
  }
  .options {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .game_container {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .draw {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/ span 2;
    -ms-grid-row: 2;
    grid-row: 2;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */